@page "/"

<PageTitle>HomeWork</PageTitle>

<h1>
    Разработать информационную систему «Строительная компания», которая содержит и использует информацию о клиентах и заказах, строительных бригадах и их работах.
    Сервисы, которые должны быть разработаны:
</h1>

<ul>
    <li>выдать список всех клиентов с персональными данными;</li>
    <li>выдать справку по заказам заданного клиента;</li>
    <li>сформировать список бригад и их членов, для которых указать должность;</li>
    <li>по каждой бригаде вывести выполненные работы за заданный интервал времени;

    </li>
    <li>рассчитать стоимость всех заказов;</li>
    <li>рассчитать стоимость работ, выполненных каждой бригадой;</li>
    <li>выдать список просроченных заказов;</li>
    <li>выдать список заказов, которые должны завершиться в ближайший месяц;</li>
    <li>сформировать отчет о платежах клиентов;</li>
    <li>сформировать отчет о задолженности клиентов.</li>
</ul>
